python/python-django/app/app/__pycache__/__init__.cpython-39.pyc
python/python-django/app/app/__pycache__/calc.cpython-39.pyc
python/python-django/app/app/__pycache__/settings.cpython-39.pyc
python/python-django/app/app/__pycache__/tests.cpython-39.pyc
python/python-django/app/app/__pycache__/urls.cpython-39.pyc
python/python-django/app/app/__pycache__/wsgi.cpython-39.pyc
python/python-django/app/db.sqlite3
