.spacer {
  flex: 1;
}

.content {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  align-items: center;
}

.sidenav-container {
  overflow: hidden;
  height: calc(100% - 65px);
  display: flex;
}

.mat-sidenav-content {
  height: 99%;
}
